body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    background-image: url("tassu3.jpg");
}

#header {
    background-color: #4da1d9;
    background-image: url("silmä.png");
    background-size: cover; /* makes the image cover the whole header */
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* stops it from repeating */
    padding: 10px;
    text-align: center;
    color: white;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: red;
}

#nav {
    background-color: #d7fedf;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
}

#nav a {
    color: #3e8d57;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

#main {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

/*Erilainen kodin ja toisen-sivun järjestely kuin kolmannen*/
#home #main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "section aside"
        "article aside";
    gap: 10px;
    margin-top: 10px;
}

#second-page #main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "section"
        "article";
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

#sidebar {
    width: 25%;
    background-color: #3e8d57;
    padding: 20px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 2cap
}

#sidebar a {
    display: block;
    margin-bottom: 10px;
}

#section {
    flex: 1;
    background-color: #bceac5;
    padding: 20px;
    color: #4da1d9;
    box-sizing: border-box;
}

#footer { 
    background-color: none;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: #3e8d57;
}

#section {
    background-color: #d7fedf;
    padding: 10px;
    grid-area: section;
    color: #3e8d57;
    border-radius: 2cap;
}

img {
    max-width: 100%;
    height: auto;
  }

#article {
    background-color: #d7fedf;
    padding: 10px;
    grid-area: article;
    color: #3e8d57;
    border-radius: 2cap;
}

#aside {
    background-color: #3e8d57;
    padding: 10px;
    grid-area: aside;
    color: white;
    border-radius: 2cap;
}